{% extends 'base.html.twig' %}

{% block title %}Modifier une wishlist | Wish{% endblock %}

{% block stylesheets %}
<style>
 .container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #14223c;
 }

 h1 {
  color: #FFFFFF;
  background-color: #14223c;
  text-align: center;
 }
</style>
{% endblock %}

{% block nav %}
  {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="card container"> 
  <div class="card-header"> 
    <h1>Modification de la wishlist</h1>
  </div>
  <div class="card-body bg-white"> 
    {{ include('wishlist/_form.html.twig', {'button_label': 'Sauvegarder les modifications'}) }}
  </div>
</div>
{% endblock %}
