<form method="post" action="{{ path('app_membership_delete', {'wishlist': membership.wishlist}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membership.wishlist) }}">
    <button class="btn">Delete</button>
</form>
