{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block stylesheets %}
<style>
    input {
        width: 100%;
        height: 46px;
        border: none;
        outline: none;
        padding: 8px 16px;
        border-radius: 12px;
        margin-bottom: 12px;
        margin-top: 3px;
        background-color : #F4F4F5;
    }
</style>
{% endblock %}

{% block nav %}
  {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="p-4 w-50 m-auto">
        <h1>Ajouter un nouvel objet</h1>

        {{ include('item/_form.html.twig') }}
    
        <a class="btn btn-primary" href="{{ path('app_item_index', {id : wishListId}) }}">Retourner à la liste</a>
    </div>
{% endblock %}
